.button {
  width: 75px;
  height: 41px;
  background: #D7C7F4;
  border-radius: 5px;
}

.home-card {
  background: #ffffff;
  border-radius: 5px;
  height: 100px;
  padding: 10px
}

.home-card h2 {
  font-weight: 700;
  font-size: 18px;
}

.home-card p {
  margin-top: 12px;
  color: gray;
}

.chat-card {
  display: flex;
  gap: 24px;
  background-color: #844af021;
  border-radius: 16px;
  align-items: flex-start;
  padding-left: 16px;
  padding: 12px;
}

.chat-card img {
  width: 70px;
  height: 70px;
}

.chat-card span {
  font-weight: bolder;
}

.chat-card-history {
  display: flex;
  gap: 24px;
  border-radius: 16px;
  align-items: flex-start;
  padding-left: 16px;
  padding: 12px;
}