.button {
  width: 75px;
  height: 41px;
  background: #D7C7F4;
  border-radius: 5px;
}

.home-card {
  background: #ffffff;
  border-radius: 5px;
  height: 100px;
  padding: 10px
}

.home-card h2 {
  font-weight:700;
  font-size: 18px;
}

.home-card p {
  margin-top: 12px;
  color: gray;
}
